body {
  /* background-color: pink; */
  background-image: url(../images/football.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: white;
  text-shadow: 1px 1px 1px black;
  font-family: serif;
}

#sub-heading{
  color: white;
  text-shadow: 1px 1px 1px black;
  font-family: sans-serif;

}

div {
  color: pink;
  text-shadow: 1px 1px 1px black;
  font-size: 15px;
  text-align: left;
  padding-bottom: 10px;
  padding-left: 10px;
  font: arial;
  font-weight: bold;
}

p {
  color: white;
  font-size: 20px;
  text-shadow: 1px 1px 1px pink;
  background-color: black;
  /* padding: 10px; */
  padding-right: 5px;
}

.player {
  padding: 5px;
}

.player p {
  display: inline;
  padding: 5px;
}

.name {
  font-weight: bold;
  text-shadow: 1px 1px 1px red;
  padding: 5px;
}

.rating {
  font-weight: bold;
  text-shadow: 1px 1px 1px red;
  padding: 5px;
  color: orange;
}

.checkbox-align {
  background-color: black;
  display: inline;
  color: yellow;
  padding-top: 10px;
  padding-bottom: 6px;
  /* border: 1px solid white; */
}

.team {
  font-style: italic;
  color: red;
  text-shadow: 1px 1px 1px white;
}

#delete-all {
  background-color: yellow;
  border-radius: 15px;
  font-weight: bold;
  float: left;
  margin-left: 5px:
}

#submit_name {
  background-color: yellow;
  border-radius: 15px;
  font-weight: bold;
  float: left;
  margin-right: 10px;
}

input#first_name {
  background-color: f4f4f4;
  justify-content: flex-end;
}

input#last_name {
  background-color: f4f4f4;
  justify-content: flex-end;
}

input#team_name {
  background-color: f4f4f4;
  justify-content: flex-end;
}

input#rating {
  background-color: f4f4f4;
  justify-content: flex-end;
}
