body {
  background-color: pink;
}

.player {
  padding: 10px;
}

.player p {
  display: inline;
  padding-left: 5px;
}

.name {
  font-weight: bold;
}

.checkbox-align {
  display: inline;
  padding-left: 5px;
}
